html {
	background: #ddeeff;
	min-height: 100%;
}
body {
	padding-top: 35px;
}
#content {
	max-width: 425px;
	margin: 0 auto;
}
.content_container {
	display: flex;
	flex-direction: column;
}
#bulk-edit {
	margin: 0 auto;
}
#bulk-edit[data-hide] {
	display: none;
}
@media (min-width: 950px) {
	.content_container {
		flex-direction: row;
	}
	#bulk-edit {
		margin: 0 2em;
	}
}
h2 {
	color: #000020;
	clear: both;
}
a {
	color: #000060;
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: underline;
}
#trackform {
	margin-bottom: 5em;
}
.form-field {
	font-size: 19px;
	padding: 5px;
	display: flex;
}
#trackform .form-field:nth-child(odd) {
	background: rgba(150, 150, 255, 0.1);
}
.form-field .key-label {
	display: inline-block;
	width: 100px;
	text-transform: capitalize;
	white-space: nowrap;
	margin-right: 5px;
}
.form-field .key-label[title] {
	cursor: help;
}
.form-field .key-label[title]:after {
	content: "ⓘ";
	font-size: 0.5em;
	vertical-align: top;
	text-transform: none;
}
.form-field .key-label.medium-key{
	font-size: 15px;
}
.form-field .key-label.long-key{
	font-size: 8px;
}
.form-field .form-input {
	width: 310px;
	display: flex;
	margin-right: 4px;
}
.form-field .form-input > input, .form-field .form-input > select, .form-field .form-input > textarea {
	width: 100%;
	vertical-align: middle;
	font-size: 19px;
}
.form-field .form-input .preview {
	margin-left: 0.5em;
	width: 1.5em;
	text-align: center;
}
.form-field .isnull {
	font-size: small;
	color: #999;
	margin-left: 10px;
	width: 60px;
	display: inline-block;
	white-space: nowrap;
}
.form-field .isnull input {
	width: 8px;
}
.form-field .isnull :checked + label {
	color: #000;
}
input[type=submit] {
	background-color: #000060;
	color: white;
	border-radius: 8px;
	padding: 4px 15px;
	border: outset;
	transition: background-color 10s ease-out;
	height: fit-content;
}
input[type=submit]:active{
	border: inset;
}
input[type=submit].primary-submit {
	margin: 1em;
	float: right;
}
input[type=submit][data-saved] {
	transition: none;
	background-color: #009900;
}
input[type=submit][data-pending] {
	transition: background-color 2s ease-in;
	background-color: #cc6600;
}
input[type=submit][disabled] {
	transition: none;
	background-color: #555555;
}
input[type=submit].loading {
	animation: 1.5s linear infinite backgroundScroll;
	background: linear-gradient(-55deg, #555 0%, #555 20%, #888 40%, #7e8888 55%, #555 80%);
	background-size: 200%;
	text-shadow: 1px 1px #555;
}
@keyframes backgroundScroll {
	0% { background-position:  -100%; }
	100% { background-position: 100%; }
}
select {
	text-transform: capitalize;
}
.form-options {
	font-size: 16px;
}
.form-options > label {
	flex: 1;
}
.form-options input[type=radio] {
	margin-right: 1em;
}

#details .detail {
	padding: 4px;
	display: flex;
}
#details .detail:nth-child(odd) {
	background: rgba(150, 150, 255, 0.1);
}
#details .key {
	padding-right: 2em;
	width: 100px;
	text-transform: capitalize;
	display: inline-block;
	vertical-align: top;
}
#details .value {
	width: 280px;
	display: inline-block;
	overflow-wrap: anywhere;
}
.pagination {
	font-weight: bold;
	text-align: center;
}
h3 {
	margin-bottom: 0;
}

/* Top level queue-controls should have some margin
  (But not inline ones in search results) */
#content > queue-controls {
	margin: 2em 0;
}
.predicate-search:hover {
	text-decoration: none;
	transform: scale(2);
}
.predicate-search.disabled {
	opacity: 0.1;
	cursor: default;
}
.predicate-search.disabled:hover {
	transform: none;
}
small {
	margin: 1em 0;
	display: block;
	background: #ccddee;
	padding: 5px 10px;
}
.standalone {
	margin: 0.5em 0;
	float: right;
	clear: right;
}